# Binaries for programs and plugins
flighttrack
dataloader/dataloader
dblogger/dblogger
dbloader/dbloader
web/web
util/converticons/converticons
*.exe

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Mac stuff
._*
.DS_Store

# Uncompressed data sources
dataloader/data/aircraft_db/aircraft_db.csv
dataloader/data/canada/carscurr.txt
dataloader/data/canada/carsownr.txt
dataloader/data/faa/ACFTREF.txt
dataloader/data/faa/MASTER.txt
dataloader/data/flightaware-20180720.csv
dataloader/data/airlines.dat
