{{ template "_header.html" . }}

<h1 class="title">Flights</h1>

<p>
<form method="GET">
    <div class="field is-grouped is-small"> 
        <div class="control has-icons-left">
            <input class="input is-small" type="text" id="datepicker" size="15" name="date" value="{{ .DateString }}"/>
            <span class="icon is-small is-left"><i class="fas fa-calendar"></i></span>
        </div>
        <div class="control"><input class="button is-small" type="submit" name="submit" value="Select Date" /></div>
        <div class="control"><input class="button is-small" type="submit" name="submit" value="Today" /></div>
        <div class="control"><input class="button is-small" type="submit" name="submit" value="Active" /></div>
    </div>
    {{ if .DateError }}<div class="has-text-danger is-size-7">Date must be in format YYYY-MM-DD</div>{{ end }}
</form>
</p>

<p>
<table class="table">
    <thead>
        <tr>
            <th>ICAO&nbsp;ID</th>
            <th>Callsign <span class="is-size-7">(Registration)</span></th>
            <th>Type</th>
            <th>First&nbsp;Seen <span class="is-size-7">(UTC)</span></th>
            <th>Messages</th>
            <th>Owner/Operator</th>
        </tr>
    </thead>
    <tbody>
        {{ range .Flights }}
        <tr>
            <td><a href="reg?icao={{ .Icao }}">{{ .Icao }}</a></td>
            <td>{{ if .Callsign.Valid -}}
                    {{- .Callsign.String -}}
                        {{- if and (.Registration.Valid) (not (eq .Registration.String .Callsign.String)) -}}
                            &nbsp;({{- .Registration.String -}})
                        {{- end -}}
                {{- else -}}
                    {{- if .Registration.Valid }}({{ .Registration.String }}){{ end -}}
                {{- end -}}
                {{- if .Callsign.Valid }}{{ if .Airline.Valid }}<br><span class="is-size-7">{{ .Airline.Value }}</span>{{ end }}{{ end -}}</td>
            <td>
                {{ if .TypeCode.Valid }}{{ .TypeCode.String }}{{ end }}
                {{ if .Model.Valid }}
                    {{ if .TypeCode.Valid }}<br>{{ end }}
                    <span class="is-size-7">
                    {{ if (and (.MfgYear.Valid) (gt .MfgYear.Value 1900)) }}{{ .MfgYear.Value }} {{ end }}
                    {{ if .Mfg.Valid }}{{ .Mfg.String }} {{ end }}
                    {{ .Model.String }}
                    </span>
                {{ end }}
            </td>
            <td>{{ .FirstSeen.Format "01-02" }}&nbsp;{{ .FirstSeen.Format "15:04:05" }}</td>
            <td>{{ if .MsgCount.Valid}}{{ .MsgCount.Value }}{{ end }}</td>
            <td>{{ if .Owner.Valid }}{{ .Owner.String }}{{ end }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>
</p>

<script src="pikaday.js"></script>
<script>
    var picker = new Pikaday({ field: document.getElementById('datepicker'), format: 'YYYY-MM-DD' });
</script>
{{ template "_footer.html" . }}
