{{ template "_header.html" . }}

<h2>Flight Details</h2>

<div class="sidebyside">
    {{ if .HasPosition }}
    <div id="map"></div>
    <script type="text/javascript">
    
        {{ if .HasTrack }}
        var planeGeometry = new ol.geom.LineString([
            {{ range .TrackLog -}}
            {{- if .Latitude.Valid -}}
            ol.proj.fromLonLat([{{.Longitude.Value}}, {{.Latitude.Value}}]),
            {{ end -}}
            {{- end }}
        ])
        {{ else }}
        var planeGeometry = new ol.geom.Point(ol.proj.fromLonLat([{{.PointLon}}, {{.PointLat}}]))
        {{ end }}
    
        var receiverGeometry = new ol.geom.Point(ol.proj.fromLonLat([-122.92629, 45.52197]))
    
        var planeSource = new ol.source.Vector({
            features: [
            new ol.Feature({
                geometry: planeGeometry
            })
            ]
        });
    
        var receiverSource = new ol.source.Vector({
            features: [
                new ol.Feature({
                    geometry: receiverGeometry
                })
            ]
        });
    
        var geomCollection = new ol.geom.GeometryCollection([receiverGeometry, planeGeometry])
    
        var map = new ol.Map({
            target: 'map',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM({url: '/static/tiles/{z}/{x}/{y}.png'})
                }),
                new ol.layer.Vector({
                    source: receiverSource,
                    style: [
                        new ol.style.Style({
                            image: new ol.style.Circle({
                                radius: 4,
                                stroke: new ol.style.Stroke({ color: [0, 0, 0] }),
                                fill: new ol.style.Fill({ color: [0, 0, 0, .5] })
                            })
                        })
                    ]
                }),
                new ol.layer.Vector({
                    source: planeSource,
                    style: [
                        new ol.style.Style({
                            image: new ol.style.Circle({
                                radius: 10,
                                stroke: new ol.style.Stroke({ color: '#fff' }),
                                fill: new ol.style.Fill({ color: '#3399CC' })
                            })
                        }),
                        new ol.style.Style({
                            stroke: new ol.style.Stroke({
                                width: 3,
                                color: 'blue',
                            })
                        })
                    ]
                })
            ],
            view: new ol.View({
                center: ol.extent.getCenter(geomCollection.getExtent()),
                maxZoom: 15,
                minZoom: 7,
                zoom: 10
            })
        });
    
        map.getView().fit(geomCollection.getExtent(), {padding: [20, 20, 20, 20], maxZoom: 12})
    </script>
    {{ else }}
    <div>No position data received from flight.</div>
    {{ end }}
    <div>
        <table class="infotable">
            <tbody>
                {{ with .Flight }}
                <tr><th>ICAO&nbsp;ID:</th><td><a href="../reg/{{ .Icao }}">{{ .Icao }}</a></td></td>
                    <tr><th>Callsign <span class="smallnote">(Registration)</span>:</th><td><span style="white-space: nowrap">{{ if .Callsign.Valid -}}
                            {{- .Callsign.String -}}
                                {{- if and (.Registration.Valid) (not (eq .Registration.String .Callsign.String)) -}}
                                    &nbsp;({{- .Registration.String -}})
                                {{- end -}}
                        {{- else -}}
                            {{- if .Registration.Valid }}({{ .Registration.String }}){{ end -}}
                        {{- end -}}
                        {{- if .Callsign.Valid }}{{ if .Airline.Valid }}<br><span class="smallnote">{{ .Airline.Value }}</span>{{ end }}{{ end -}}</span></td></tr>
                    <tr><th>Type:</th><td>
                        {{ if .TypeCode.Valid }}{{ .TypeCode.String }}{{ end }}
                        {{ if .Model.Valid }}
                            {{ if .TypeCode.Valid }}<br>{{ end }}
                            <span class="smallnote">
                            {{ if .MfgYear.Valid }}{{ .MfgYear.Value }} {{ end }}
                            {{ if .Mfg.Valid }}{{ .Mfg.String }} {{ end }}
                            {{ .Model.String }}
                            </span>
                        {{ end }}
                    </td></tr>
                    <tr><th>First Seen <span class="smallnote">(UTC)</span>:</th><td><span style="white-space: nowrap">{{ .FirstSeen.Format "01-02 15:04:05" }}</span></td></tr>
                    <tr><th>Last Seen <span class="smallnote">(UTC)</span>:</th><td>{{ if .LastSeen.Valid }}<span style="white-space: nowrap">{{ .LastSeen.Time.Format "01-02 15:04:05" }}</span>{{ end }}</td></tr>
                    <tr><th>Messages:</th><td>{{ if .MsgCount.Valid}}{{ .MsgCount.Value }}{{ end }}</td></tr>
                    <tr><th>Owner/Operator:</th><td>{{ if .Owner.Valid }}{{ .Owner.String }}{{ end }}</td></tr>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>

<h2 class="subtitle">Track Log</h2>
{{ if .TrackLog }}
<table class="flightlist">
    <thead>
        <tr>
            <th>Time</th>
            <th>Callsign</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Heading</th>
            <th>Speed</th>
            <th>Altitude</th>
            <th>VS</th>
        </tr>
    </thead>
    <tbody>
        {{ range .TrackLog }}
        <tr>
            <td>{{ .Time.Format "15:04:05" }}</td>
            <td>{{ if .Callsign.Valid }}{{ .Callsign.Value }}{{ end }}</td>
            <td>{{ if .Latitude.Valid }}{{ .Latitude.Value }}{{ end }}</td>
            <td>{{ if .Longitude.Valid }}{{ .Longitude.Value }}{{ end }}</td>
            <td>{{ if .Heading.Valid }}{{ .Heading.Value }}{{ end }}</td>
            <td>{{ if .Speed.Valid }}{{ .Speed.Value }}{{ end }}</td>
            <td>{{ if .Altitude.Valid }}{{ .Altitude.Value }}{{ end }}</td>
            <td>{{ if .Vs.Valid }}{{ .Vs.Value }}{{ end }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ else }}
<div>No ADS-B data received for this flight.</div>
{{ end }}

{{ template "_footer.html" . }}