{{ template "_header.html" . }}

<h1 class="title">Aircraft Details</h1>

<div class="sidebyside">
    <div>
<h2 class="subtitle">Registration details</h2>

{{ if .FoundRegInfo }}
    {{ with .RegInfo}}
    <table class="infotable">
        <tbody>
        <tr><th>Mode S / ICAO code: </th><td>{{ .Icao }}</td></tr>
        <tr><th>Registration: </th><td>{{ if .Registration.Valid}}{{ .Registration.String }} (<a href="https://flightaware.com/live/flight/{{ .Registration.String }}">FlightAware</a>){{ end }}</td></tr>
        <tr><th>Type Code: </th><td>{{ if .Typecode.Valid}}{{ .Typecode.String }}{{ end }}</td></tr>
        <tr><th>Year Manufactured: </th><td>{{ if .Year.Valid}}{{ .Year.Value }}{{ end }}</td></tr>
        <tr><th>Manufacturer: </th><td>{{ if .Mfg.Valid}}{{ .Mfg.String }}{{ end }}</td></tr>
        <tr><th>Model: </th><td>{{ if .Model.Valid}}{{ .Model.String }}{{ end }}</td></tr>
        <tr><th>Owner: </th><td>{{ if .Owner.Valid}}{{ .Owner.String }}{{ end }}</td></tr>
        <tr>
            <th>Owner Location:</th>
            <td>
                {{ if .City.Valid}}{{ .City.String }}{{ end }}
                {{ if .State.Valid}}{{ .State.String }}{{ end }}
                {{ if .Country.Valid}}{{ .Country.String }}{{ end }}
            </td>
        </tr>
        </tbody>
    </table>
    {{ end }}
{{ else }}
    <p>Unable to find aircraft registration info.</p>
{{ end }}
    </div>

    <div>
<h2 class="subtitle">Flights seen with this airframe</h2>

{{ if .Flights }}
    <table class="flightlist">
        <thead>
            <tr>
                <th></th>
                <th>Callsign</th>
                <th>First Seen <span class="smallnote">(UTC)</span></th>
                <th>Last Seen</th>
                <th>Messages</th>
            </tr>
        </thead>
        <tbody>
        {{ range .Flights }}
        <tr>
            <td><a href="../flight/{{ .ID }}">Details</a></td>
            <td>
                {{ if .Callsign.Valid }}{{ .Callsign.String }}{{ end }}
                {{ if .Callsign.Valid }}{{ if .Airline.Valid }}<br><span class="smallnote">{{ .Airline.Value }}</span>{{ end }}{{ end }}</td>
            </td>
            <td>{{ .FirstSeen.Format "01-02 15:04:05" }}</td>
            <td>{{ if .LastSeen.Valid }}{{ .LastSeen.Value.Format "15:04:05" }}{{ end }}</td>
            <td>{{ if .MsgCount.Valid }}{{ .MsgCount.Value }}{{ end }}</td>
        </tr>
        {{ end }}
        </tbody>
    </table>
{{ else }}
<p>Unable to find flights for this aircraft.</p>
{{ end }}
</div>
</div>

{{ template "_footer.html" . }}